{% extends "base.html" %}
{% load static %}

{% block document-title %}django-prototype{% endblock %}

{% block page-title %}django-prototype{% endblock %}

{% block content %}
<p>Variable from <em>prototype.yml</em>: <strong>{{ myvar }}</strong>.</p>
<p>Check other pages:</p>
<ul>
    {% for page in pages %}
    <li><a href="{% url page.name %}">{{ page.title }}</a></li>
    {% endfor %}
</ul>
<p>Static files works too:</p>
<p>
    <a href="https://commons.wikimedia.org/wiki/File:Example.svg" target="_blank">
        <img src="{% static "img/example.png" %}" alt="just another example" />
    </a>
</p>
{% endblock %}
